#
#     ___
#     ?   ?                 _
#     ?    ? ___ _ __  __ _(_)_ _
#     |     ? _ ? '  ?? _` ? ? ' ?
#     |_____?___?_?_?_?__,_?_?_||_|
#     ? ?  (_)? _?___ __ _  _ __? |___ ___
#     ? ?__? ?  _? -_) _? ?? ? _? ? -_|_-<
#     ?____?_?_? ?___?__??_, ?__?_?___?__?
#                      |__?
#
#  Copyright 2019-2024 the original author or authors.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#       https://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#

# ---------------------------------------------------
# PLEASE KEEP THE ALPHABETIC ORDER. THIS MAKES SEARCHING EASIER. THANK YOU.
# ---------------------------------------------------

[versions]
# productive code versions
active-mq-classic-version = '5.18.4'
bytebuddy-version = '1.18.3'
classgraph-version = '4.8.184'
commons-collections4-version = '4.5.0'
commons-validator-version = '1.10.1'
commons-lang3-version = '3.20.0'
gruelbox-version = '6.1.653'
jakarta-jms-api-version = '3.1.0'
jakarta-transaction-api-version = '2.0.1'
jackson-3-version = '3.0.3'
jakarta-validation-api-version = '3.1.1'
jooq-version = '3.19.29'
slf4j-version = '2.0.17'
spring-doc-open-api-2-version = '3.0.1'
spring-jdbc-version = '7.0.2'
spring-tx-version = '7.0.2'
spring-web-version = '7.0.2'
spring-context-version = '7.0.2'
swagger-version = '2.2.41'
type-resolver-version = '1.0.3'
docker-java-version = '3.7.0'
maven-plugin-development-plugin-version = '0.4.3'
maven-core-version = '3.9.12'
maven-artifact-version = '3.9.12'
maven-plugin-api-version = '3.9.12'
maven-plugin-tools-annotations-version = '3.15.2'

# test-versions
active-mq-artemis-version = '2.44.0'
assertj-version = '3.27.6'
atomikos-jta-version = '6.0.0'
awaitility-version = '4.3.0'
commons-io-version = '2.21.0'
glassfish-jakarta-version = '4.0.2'
h2-version = '2.4.240'
hibernate-validator-jakarta-version = '9.1.0.Final'
jakarta-el-version = '6.0.1'
javax-jms-api-version = '2.0.1'
jmolecules-ddd-version = '1.7.0'
junit-jupiter-params-version = '5.12.2'
junit-jupiter-version = '5.12.2'
junit-platform-version = '1.12.2'
kryo-version = '5.6.2'
logback-classic-version = '1.5.23'
lombok-version = '1.18.42'
mockito-core-version = '5.21.0'
spring-boot-platform-version = '4.0.1'

# plugin versions
flyway-version = '11.20.0'
yumi-gradle-licenser-version = '2.1.1'
jareds-burrows-license-version = '0.9.8'
jreleaser-version = '1.22.0'
researchgate-release-version = '3.1.0'

[libraries]
byte-buddy = { module = "net.bytebuddy:byte-buddy", version.ref = "bytebuddy-version" }
byte-buddy-agent = { module = "net.bytebuddy:byte-buddy-agent", version.ref = "bytebuddy-version" }
active-mq-broker = { module = "org.apache.activemq:activemq-broker", version.ref = "active-mq-classic-version" }
active-mq-client = { module = "org.apache.activemq:activemq-client", version.ref = "active-mq-classic-version" }
active-mq-client-jakarta = { module = "org.apache.activemq:activemq-client-jakarta", version.ref = "active-mq-classic-version" }
assertj = { module = "org.assertj:assertj-core", version.ref = "assertj-version" }
awaitility = { module = "org.awaitility:awaitility", version.ref = "awaitility-version"}
apache-active-mq-artemis-jms-server = { module = "org.apache.activemq:artemis-jakarta-server", version.ref = "active-mq-artemis-version"}
atomikos-transactions-jta = { module = "com.atomikos:transactions-jta", version.ref = "atomikos-jta-version" }
classgraph = { module = "io.github.classgraph:classgraph", version.ref = "classgraph-version" }
commons-collections = { module = "org.apache.commons:commons-collections4", version.ref = "commons-collections4-version" }
commons-lang3 = { module = "org.apache.commons:commons-lang3", version.ref = "commons-lang3-version" }
commons-io = { module = "commons-io:commons-io", version.ref = "commons-io-version" }
commons-validator = { module = "commons-validator:commons-validator", version.ref = "commons-validator-version" }
flyway-core = { module = "org.flywaydb:flyway-core", version.ref = "flyway-version" }
glassfish-jakarta-el = { module = "org.glassfish:jakarta.el", version.ref = "glassfish-jakarta-version" }
gruelbox-transactionoutbox-core = { module = "com.gruelbox:transactionoutbox-core", version.ref = "gruelbox-version"}
gruelbox-transactionoutbox-spring = { module = "com.gruelbox:transactionoutbox-spring", version.ref = "gruelbox-version"}
gruelbox-transactionoutbox-jackson = { module = "com.gruelbox:transactionoutbox-jackson", version.ref = "gruelbox-version"}
h2 = { module = "com.h2database:h2", version.ref = "h2-version"}
hibernate-validator = { module = "org.hibernate.validator:hibernate-validator", version.ref = "hibernate-validator-jakarta-version" }
jackson3-core = { module = "tools.jackson.core:jackson-core", version.ref = "jackson-3-version" }
jackson3-databind = { module = "tools.jackson.core:jackson-databind", version.ref = "jackson-3-version" }
jakarta-el-api = { module = "jakarta.el:jakarta.el-api", version.ref = "jakarta-el-version" }
jakarta-jms-api = { module = "jakarta.jms:jakarta.jms-api", version.ref = "jakarta-jms-api-version" }
jakarta-transaction-api = { module = "jakarta.transaction:jakarta.transaction-api", version.ref = "jakarta-transaction-api-version"}
jakarta-validation-api = { module = "jakarta.validation:jakarta.validation-api", version.ref = "jakarta-validation-api-version" }
javax-jms-api = { module = "javax.jms:javax.jms-api", version.ref = "javax-jms-api-version" }
jmolecules-ddd = { module = "org.jmolecules:jmolecules-ddd", version.ref = "jmolecules-ddd-version"}
jooq = { module = "org.jooq:jooq", version.ref = "jooq-version" }
jooq-codegen = { module = "org.jooq:jooq-codegen", version.ref = "jooq-version"}
jooq-meta = { module = "org.jooq:jooq-meta", version.ref = "jooq-version"}
junit = { module = "org.junit.jupiter:junit-jupiter", version.ref = "junit-jupiter-version" }
junit-platform-engine = { module = "org.junit.platform:junit-platform-engine", version.ref = "junit-platform-version" }
junit-platform-launcher = { module = "org.junit.platform:junit-platform-launcher", version.ref = "junit-platform-version" }
junit-jupiter-params = { module = "org.junit.jupiter:junit-jupiter-params", version.ref = "junit-jupiter-params-version" }
kryo = { module = "com.esotericsoftware:kryo", version.ref = "kryo-version" }
logback-classic = { module = "ch.qos.logback:logback-classic", version.ref = "logback-classic-version" }
lombok = { module = "org.projectlombok:lombok", version.ref = "lombok-version" }
mockito-core = { module = "org.mockito:mockito-core", version.ref = "mockito-core-version" }
slf4j-api = { module = "org.slf4j:slf4j-api", version.ref = "slf4j-version" }
spring-boot-dependencies = { module = "org.springframework.boot:spring-boot-dependencies", version.ref = "spring-boot-platform-version" }
spring-boot-starter-activemq = { module = "org.springframework.boot:spring-boot-starter-activemq", version.ref = "spring-boot-platform-version"}
spring-boot-starter-artemis = { module = "org.springframework.boot:spring-boot-starter-artemis", version.ref = "spring-boot-platform-version"}
spring-boot-starter-artemis-test = { module = "org.springframework.boot:spring-boot-starter-artemis-test", version.ref = "spring-boot-platform-version"}
spring-boot-starter-jooq = { module = "org.springframework.boot:spring-boot-starter-jooq", version.ref = "spring-boot-platform-version"}
spring-boot-starter-validation = { module = "org.springframework.boot:spring-boot-starter-validation", version.ref = "spring-boot-platform-version"}
spring-boot-starter-jdbc = { module = "org.springframework.boot:spring-boot-starter-jdbc", version.ref = "spring-boot-platform-version"}
spring-boot-starter-jackson = { module = "org.springframework.boot:spring-boot-starter-jackson", version.ref = "spring-boot-platform-version"}
spring-boot-starter-test = { module = "org.springframework.boot:spring-boot-starter-test", version.ref = "spring-boot-platform-version"}
spring-boot-starter-webmvc = { module = "org.springframework.boot:spring-boot-starter-webmvc", version.ref = "spring-boot-platform-version"}
spring-boot-starter-webmvc-test = { module = "org.springframework.boot:spring-boot-starter-webmvc-test", version.ref = "spring-boot-platform-version"}
spring-doc-openapi-starter-webmvc-ui = { module = "org.springdoc:springdoc-openapi-starter-webmvc-ui", version.ref = "spring-doc-open-api-2-version" }
spring-boot-devtools = { module = "org.springframework.boot:spring-boot-devtools", version.ref = "spring-boot-platform-version"}
spring-jdbc = { module = "org.springframework:spring-jdbc", version.ref = "spring-jdbc-version" }
spring-web = { module = "org.springframework:spring-web", version.ref = "spring-web-version" }
spring-context = { module = "org.springframework:spring-context", version.ref = "spring-context-version" }
spring-tx = { module = "org.springframework:spring-tx", version.ref = "spring-tx-version" }
swagger = { module = "io.swagger.core.v3:swagger-core-jakarta", version.ref = "swagger-version" }
type-resolver = { module = "com.github.vladislavsevruk:type-resolver", version.ref = "type-resolver-version" }
docker-java-core = { module = "com.github.docker-java:docker-java-core", version.ref = "docker-java-version" }
docker-java-transport-httpclient5 = { module = "com.github.docker-java:docker-java-transport-httpclient5", version.ref = "docker-java-version" }
maven-core = { module = "org.apache.maven:maven-core", version.ref = "maven-core-version" }
maven-artifact = { module = "org.apache.maven:maven-artifact", version.ref = "maven-artifact-version" }
maven-plugin-api = { module = "org.apache.maven:maven-plugin-api", version.ref = "maven-plugin-api-version" }
maven-plugin-tools-annotations = { module = "org.apache.maven.plugin-tools:maven-plugin-annotations", version.ref = "maven-plugin-tools-annotations-version" }

[bundles]
gruelbox-transactionoutbox = ['gruelbox-transactionoutbox-core', 'gruelbox-transactionoutbox-spring', 'gruelbox-transactionoutbox-jackson']

[plugins]
flyway-plugin = { id = "org.flywaydb.flyway", version.ref = "flyway-version" }
jaredsburrows-license-plugin = { id = "com.jaredsburrows.license", version.ref = "jareds-burrows-license-version" }
jooq-codegen-gradle = { id = "org.jooq.jooq-codegen-gradle", version.ref = "jooq-version" }
release-plugin = { id = "net.researchgate.release", version.ref = "researchgate-release-version" }
release-automation-plugin = { id = "org.jreleaser", version.ref = "jreleaser-version"}
spring-boot-plugin = { id = "org.springframework.boot", version.ref = "spring-boot-platform-version" }
yumi-gradle-licenser-plugin = { id = "dev.yumi.gradle.licenser", version.ref = "yumi-gradle-licenser-version" }
maven-plugin-development-plugin =  { id = "de.benediktritter.maven-plugin-development", version.ref = "maven-plugin-development-plugin-version" }

